name: Deploy BlogZone Backend

on:
    push:
        branches:
            - master
        paths:
            - backend/**
            - "!backend/.github/workflows/**"
            - "!.github/workflows/**"

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            # 1️⃣ Checkout code
            - name: Checkout repository
              uses: actions/checkout@v4

            # 2️⃣ Login to Docker Hub
            - name: Docker Hub Login
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            # 3️⃣ Build & Push Docker image
            - name: Build and Push Image
              uses: docker/build-push-action@v5
              with:
                  context: ./backend
                  push: true
                  tags: |
                      partiksingh28/blogzone-server:latest
                      partiksingh28/blogzone-server:${{ github.sha }}

            # 4️⃣ SSH into server & deploy
            - name: Deploy on Hetzner
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  script: |
                      cd /opt/blogzone
                      docker compose pull backend
                      docker compose up -d backend
